@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #f9003d;
    height: 60px;
    position: fixed;
    top: 0;
    z-index: 199;
    width: 100%;
}

.container{
    width: 1220px;
    margin: 0 auto;
}

.container_head{
    display: flex;
    justify-content: flex-end;
    height: 100%;
}

.headermenu {
    display: flex;
    width: 550px;
    align-items: center;
    justify-content: space-between;

}

.headermenu a{
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Bebas Neue', cursive;
    font-size: 18px;
}

main{
    margin-top: 60px;
}

.container_banner{
    position: relative;
}

.fundo_banner{
    width: 100vw;
}

.box_conteudo{
    position: absolute;
    top: 226px;
    left: 120px;
    display: flex;
    flex-direction: column;   
}

h1{
    font-size: 96px;
    color: #ffffff;
    font-family: 'Bebas Neue', cursive;
    text-transform: uppercase;
    width: 545px;
    font-weight: 500;
}

hr{
    color: #ffaf00;
}

.box_conteudo span{
    color: #f9003d;
    font-size: 53px;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    text-transform: uppercase;
    margin: 29px 0;
 }

 .mouse{
    width:38px;
    height: 80px;
 }

 .container_sobre{
     background-color: #080324;
     color: #ffffff;
 }

 .h2_sobre{
     text-transform: uppercase;
     color: #f9003d;
     font-family: 'Bebas Neue', cursive;
 }

 .box_sobre{
     color: #ffaf00;
    }