@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #f9003d;
    height: 60px;
    position: fixed;
    top: 0;
    z-index: 199;
    width: 100%;
}

.container{
    width: 1220px;
    margin: 0 auto;
}

.container_head{
    display: flex;
    justify-content: flex-end;
    height: 100%;
}

.headermenu {
    display: flex;
    width: 550px;
    align-items: center;
    justify-content: space-between;

}

.headermenu a{
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Bebas Neue', cursive;
    font-size: 18px;
}

main{
    margin-top: 60px;
}

.container_banner{
    position: relative;
    height: 780px;
}

.fundo_banner{
    width: 100vw;
}

.box_conteudo{
    position: absolute;
    top: 226px;
    left: 120px;
    display: flex;
    flex-direction: column;   
}

h1{
    font-size: 96px;
    color: #ffffff;
    font-family: 'Bebas Neue', cursive;
    text-transform: uppercase;
    width: 545px;
    font-weight: 500;
}

hr{
    color: #ffaf00;
}

.box_conteudo span{
    color: #f9003d;
    font-size: 53px;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    text-transform: uppercase;
    margin: 29px 0;
}

.mouse{
    width:38px;
    height: 80px;
}

.container_sobre{
    background-color: #080324;
    color: #ffffff;
    height: 800px;
}

.escapamento_sobre{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
}

.h2_sobre{
    text-transform: uppercase;
    color: #f9003d;
    font-family: 'Bebas Neue', cursive;
    font-size: 64px;
    margin-left: 120px;
}

.box_sobre{
    display: flex;
    justify-content:space-between;
}

.imagem{
    margin-left: 120px;
}

.box_textos{
    
}

.box_textos span{
    font-family: 'Courier New', Courier, monospace;
    font-size: 24px;
    text-transform: uppercase;
    font-weight: 600;
}

.h3_sobre{
     color: #ffaf00;
     font-size: 64px;
     font-family: 'Bebas Neue', cursive;
     width: 552px;
     
}

.box_textos p{
    font-family: 'Open Sans', sans-serif;
    width: 592px;
}

.info{
    background-image: url(../assets/imagem-fundo-info.png);
}

.info h2{
    color: #ffffff;
    font-size: 24px;
    font-weight: 700px;
    font-family: 'Courier New', Courier, monospace;
    text-transform: uppercase;
}

.box_span{
    border: ;
}